@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Arvo', serif;
    background-color: #121214;
    color: #fff;
}